h1 Edit user details

- var user = users[id]

p.
  The user has the name as #{user.name} and the email as #{user.email}.

form(action="/api/edit" method="post")
    input(type='hidden' value='#{id}' name="id")
    span(style="width:200px") New name
    input(type='input' value='#{user.name}' name="name")
    br
    span Name email
    input(type='input' value='#{user.email}' name="email")
    br
    input(type='submit' value="Edit" style="width:100px")
